<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Favourite Things</title>
	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div id="app">
		<h1>{{ salutation }} to you!</h1>
		<h2>These are a few of my favourite things:</h2>
		<ul>
			<li v-for="thing in things">{{ thing }}</li>
		</ul>
		<hr>
		<h2>And here they are again presented using a component:</h2>
		<thing v-for="thing in things" v-bind:key="thing" :keyword="thing"></thing>
	</div>
	
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/http-vue-loader"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>

	<script src="index.js"></script>
</body>
</html>